.products-table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 12px;
    width: 97%;
    /*bylo 95*/
    text-align: right;
    margin: 10px 1.5%;
    padding: 10px 5px;
    overflow: auto;
}


.products-table thead {
    background-color: #bbbbbb;

}

.products-table thead > tr {
    position: relative;
    display: flex;
    flex-direction: row;
    /*margin-left: 10px;*/
}

.products-table thead th {
    width: 100%;
    border: none;
    text-align: center;
    padding: 10px 5px 10px 10px;
}

.products-table tbody {
    /*width: 102%;*/
    display: block;
    height: 70vh;
    /*bylo 60*/
    overflow: auto;
}

.products-table tbody:before {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
}

.products-table tbody tr {
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    /*wysokosc wiersza tabeli*/
}

.products-table tbody tr:nth-child(even) {
    background-color: #dddddd;
}

.products-table tbody tr:nth-child(odd) {
    background-color: #B9CCDE;
}

.products-table tbody td {
    width: 100%;
    text-align: right;
    padding: 4px 10px 4px 4px;
}

.products-table tbody td:first-child, .products-table thead th:first-child {
    width: 172.5%;
}

.products-table tbody td:nth-child(3), .products-table thead th:nth-child(3) {
    width: 45%;
}

.products-table tbody td:nth-child(4), .products-table thead th:nth-child(4) {
    width: 125%;
}

.products-table tbody td:nth-child(n+5), .products-table thead th:nth-child(n+5) {
    width: 75%;
}

.products-table tbody td:nth-last-child(-n+2){
    width: 23%;
    padding: 2px;
}

.products-table thead th:last-child {
    width: 52.5%;
    margin-right: 3px;
}


