.pricebook-table-container{
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.pricebook-table-container h1 {
    margin: 20px 15px;
    font-size: 22px;
}

.pricebook-table-container>div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
}

div>p{
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
}

.search-form{
    display: flex;
    flex-direction: row;
    align-items: center;
}

